.upper-footer{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.upper-footer a{
    margin-top: 30px;
    text-decoration: none;
    padding-bottom: 10px;
}
.lower-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #f0f0f0;
}
.lower-footer a{
    text-decoration: none;
    padding-bottom: 10px;
}
.lower-footer ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    text-align: center;
    list-style: none;
}
li{
    color: rgb(29, 142, 187);
    cursor: pointer;
}